@{
    ViewBag.Title = "Conact McDonald's";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    399 Richland Ave<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    740-592-1656
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:md084515@ohio.edu">contact@mcdonalds.com</a><br />
</address>