@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:red;">McDonald's</h1>
    <p class="lead"; style="color:red;">I'm Lovin' It</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our History</h2>
        <p>
            See how far we've come and how we got to now.
        </p>
        <p><a class="btn btn-default" href="https://www.mcdonalds.com/us/en-us/about-us/our-history.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Our Food</h2>
        <p>From making healthier additions to our Happy Meal®, to serving up fresh beef Quarter Pounder® burgers that are cooked when you order, we’re always finding ways to show our commitment to our customers and our food.</p>
        <p><a class="btn btn-default" href="https://www.mcdonalds.com/us/en-us/about-our-food.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Menu</h2>
        <p>Browse through the full menu</p>
        <p><a class="btn btn-default" href="https://www.mcdonalds.com/us/en-us/full-menu.html">Full Menu &raquo;</a></p>
    </div>
</div>